<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><!-- 左右に余白、中央に配置 -->

      <div class="row">
        <div class="col-md-12">
          <h1 class="about-title">ようこそ、ALL BODY CHANGESへ</h1>
          <h4 class="about-subtitle">ALL BODY CHANGES は、<br>日本全国のフィットネスクラブやトレーニングに役に立つ商品が集まる<br>クチコミ共有サービスです。</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-function">ALL BODY CHANGES の<br>便利な機能</div>
        </div>
          <div class="col-md-4" style="text-align: center;">
              <i class="fas fa-shopping-bag fa-3x" style="margin:20px 0 10px 0; text-align: center; "></i>
              <div class="about-function1">商品機能</div>
              <div class="about-function1-comment">✔️　トレーニングに役に立つプロテインやサプリメントなど詳細な情報まで掲載しております。</div>
          </div>
          <div class="col-md-4" style="text-align: center;">
              <i class="fas fa-dumbbell fa-3x" style="margin:20px 0 10px 0; text-align: center; "></i>
              <div class="about-function1">フィットネスクラブ機能</div>
              <div class="about-function1-comment">✔️　日本全国のフィットネスクラブの地図・アクセスや特徴など詳細な情報まで掲載しております。</div>
          </div>
        <div class="col-md-4" style="text-align: center;">
            <i class="fas fa-heart fa-3x" style="margin:20px 0 10px 0; text-align: center; "></i>
            <div class="about-function1">お気に入り機能</div>
            <div class="about-function1-comment">✔️　自分の気に入った商品や<br>フィットネスクラブをお気に入りして<br>キープすることが可能。<br>また、お気に入りランキングで人気商品やフィットネスクラブを見つけれます。</div>
        </div>
      </div>
      <div class="row" style="margin-top:20px; ">
        <div class="col-md-4" style="text-align: center;">
            <i class="fas fa-user-check fa-3x" style="margin:20px 0 10px 0; text-align: center; "></i>
            <div class="about-function1">お問い合わせ機能</div>
            <div class="about-function1-comment">✔️　サイトに関して気になる点などなんでもご相談ください。翌日中にはメールアドレス宛にご返答いたします。</div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <i class="fa fa-search fa-3x" style="margin:20px 0 10px 0; text-align: center; "></i>
          <div class="about-function1">便利な検索機能</div>
          <div class="about-function1-comment">✔️　商品とフィットネスクラブを<br>分けて検索が可能。<br>「完全一致」「前方一致」「後方一致」「部分一致」で検索が可能な為<br>探しやすい。</div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-comment-dots fa-3x" style="margin:20px 0 10px 0; text-align: center; "></i>
          <div class="about-function1">リアルなクチコミや評価</div>
          <div class="about-function1-comment">✔️　実際の商品購入者や<br>フィットネスクラブに通っている方の<br>リアルなクチコミや評価を<br>確認できます。</div>
        </div>
    </div>
      <div class="row" style="margin-top:200px; text-align: center; ">
        <div class="col-md-12">
          <div class="about-last">
            使いこなすとトレーニングがより捗り楽しくなります！<br>ぜひ活用してみてください！
          </div>
            <%= link_to 'トップページへ', root_path, data: {"turbolinks" => false}, class:"about-btn" %>
        </div>
      </div>






    </div>
  </div>
</div>