<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><!-- 左右に余白、中央に配置 -->
		<h1>退会手続き</h1>
  		<p>会員情報が全て削除されます。<br>問題がなければ「退会」ボタンをクリックしてください。</p>
    <div class="withdrawal-btn-position">
      <div class="confirm-btn">
		    <%= link_to '退会手続きをやめる', customers_mypage_path, data: {"turbolinks" => false}, class:"btn btn-success" %>
      </div>
      <div class="withdrawal-btn">
		    <%= link_to "会員を退会する", customers_withdraw_path(current_customer), method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger" %>
      </div>
    </div>
	 </div>
  </div>
</div>