// Place all the styles related to the customers::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index全件カウント */
.productsgyms-allcount{
  float:left;
  margin:22px 20px 0 0;
  font-size:20px;
}