// Place all the styles related to the customers::gyms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index商品 */
.gymbox{
	box-sizing :border-box;
	background:#222222;
	color: white;
  height: 450px;
}
/* index全件カウント */
.gymsallcount{
  float:left;
  margin:22px 20px 0 0;
  font-size:20px;
}
/* indexリンク */
.gym-link{
  color: white;
}
/* indexリンク */
.gym-link:hover{
  color: white;
  text-decoration: none;
}
/* index画像とお気に入りボタン */
.gym-image-favorite-positon{
  position: relative;
  width: 300px;
}
.gym-favorite-index{
  position: absolute;
  right: 20px;
  bottom: 5px;
}
/* indexブランド */
.gymbrand-index{
  margin:10px 0;
  text-align:center;
}
/* index紹介文 */
.gymdescription-index{
  margin:10px 5px 0 5px;
  font-size: 15px;
}
/* index評価スター */
.gymstar-index{
  margin:5px 5px 0 20px;
  float:left;
}
/* index平均評価数 */
.gymaverage-index{
  margin:5px 5px 0 20px;
  float:left;
}
/* indexクチコミ合計数 */
.gymreviewcount-index{
  margin-top:5px;
  text-align:center;
}
/* show画像、お気に入り */
.gymimage{
   padding: 30px 0;
   position: relative;
   width: 300px;
}
.gym-favorite-show{
  position: absolute;
  right: 35px;
  bottom: 35px;
}
/* showブランド */
.gymbrand-show{
   margin: 30px 0 10px 10px;
}
/* show評価スター */
.gymstar-show{
  float:left;
  margin-right:20px;
}
/* show平均評価数 */
.gymaverage-show{
  float:left;
  margin-right:20px;
}
/* show紹介文 */
.gymdescription{
   padding-bottom: 30px;
   margin-top:20px;
}
/* show見学予約 */
.btn-reservation {
   display: inline-block;
   margin: 10px 0 0 0;
   text-decoration: none;
   color: #00CC00;
   border: solid 2px #00CC00;
   border-radius: 3px;
   transition: .4s;
   width:125px;
   height:50px;
   line-height: 40px;
   text-align: center;
   font-weight:bold;
}
/* show見学予約 */
.btn-reservation:hover {
  background: #00CC00;
  color: white;
}
/* show見学予約 */
.btn-reservation-area{
   text-align:right;
}
/* showアクセステーブル */
.table_access{
  color: #5E6469;
  border: 1px solid #dedede;
  background: #f9f9f5;
  width:340px;
}
/* show郵便番号 */
.gympostalcode{
  font-size:15px;
}
/* show住所 */
.gymaddress{
  font-size:15px;
}
/* show電話番号 */
.gymtell{
  font-size:15px;
}