<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><!-- 左右に余白、中央に配置 -->
	     <h1 class=thanks>Thank you!!</h1>
	     <p class="thanks2">お問い合わせいただき誠に<br class="sp_br">ありがとうございます。<br class="sp_br"><br class="pc_br">近日中に担当より<br class="sp_br">ご連絡差し上げます。</p>
	    <div class="btntop-area">
	     <a><%= link_to 'トップページ', root_path, class:"btntop" %></a>
	  </div>
		</div>
  </div>
</div>