<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
	     <h1 class=thanks>Thank you!!</h1>
	     <p class="thanks2">ご予約いただき誠にありがとうございます。<br>近日中に担当よりご連絡差し上げます。</p>
	    <div class="btntop-area">
	     <a><%= link_to 'トップページ', root_path, class:"btntop" %></a>
	  </div>
		</div>
  </div>
</div>