/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";  /*Bootstrapを読み込ませる*/
  @import "bootstrap";            /*Bootstrapを読み込ませる*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*paddingとborderを幅と高さに含める*/
}

/*992px以上*/
@media screen and (min-width: 992px) {
  /*ヘッダー*/
  header {
    background-color: #111111;
    width:100%;
  }
  /*ヘッダー1行目*/
  .container-name{
    display: flex; /*子要素を横並びに*/
    justify-content: space-between; /*各アイテムを均等に配置し各アイテムの両側に半分の大きさの間隔を置く*/
    align-items: center; /*子要素を中央付近にまとめる*/
    margin: 0 75px;
  }
  /* ヘッダー（紹介文） */
  .name{
    color: #FFFF00;
    font-size: 10px;
  }
  /* ヘッダー（検索） */
  .search{
    padding-top: 15px;
  }
  #direction{
    height:30px;
    padding-top:1px;
  }
  #genre{
    height:30px;
  }
  #search{
    height:30px;
  }
  #search-box{
    height:30px;
    width:30px;
    padding-top:2px;
  }

  /*ヘッダー2行目*/
  .container-header {
    display: flex; /*子要素を横並びに*/
    justify-content: space-between; /*各アイテムを均等に配置し各アイテムの両側に半分の大きさの間隔を置く*/
    align-items: center; /*子要素を中央付近にまとめる*/
    margin: 0 100px;
    height: 120px;
  }
  /*アイコン*/
  #topaicon{
    width: 200px;
    height: 100px;
  }
  /*ヘッダーリンク*/
  .header-nav {
    display: flex; /*子要素を横並びに*/
    background-color: #111111;
  }
  /*ヘッダーリンク*/
  .nav-list a {
    margin: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    white-space: nowrap; /*改行させないよう固定*/
  }
  .nav-list a:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  /*ヘッダーハンバーガーアイコン*/
  .hamburger {
    display: none; /*PC画面では非表示にするため*/
    width: 32px;
    cursor: pointer; /*カーソルを乗せた時指差しの手に変更*/
  }
  /*ヘッダーハンバーガーアイコン横棒*/
  .hamburger div {
    background-color: #fafafa;
    border-radius: 20px; /* 半径を全4角に設定 */
    padding: 2px 5px;
    margin: 4px 0;
  }
  /*ヘッダーメニュー*/
  .menu {
    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  /* ボディ */
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  /* タイトル */
  h2{
     padding: 60px 10px 10px 10px;
     border-bottom: solid 3px #000000;
     position: relative;
     font-weight: bold;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* 詳細タイトル */
  h1{
     padding: 60px 10px 10px 10px;
     border-bottom: solid 3px #000000;
     font-weight: bold;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* 説明文 */
  p{
     padding: 20px 10px 20px 10px;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* ページネーション */
  .pagination {
    justify-content: center;
  }

  /* フッター */
  footer {
    width: 100%;
    height: 130px;
    background-color: #111111;
    margin-top: 100px;
  }
  .footer-btn{
    text-align: center;
    float: left;
    width: 100%;
    margin-top:60px;
  }
  .footer-link{
    color: #FFFFFF;
    margin:0 60px;
  }
  .footer-link:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  /* サイドバーテーブル */
  .table-side{
    margin: 30px auto;    /* 上下3px 左右autoで中央寄せ */
  }
  .sidetext{
    font-size:15px;
    padding:0 auto;
    margin:15px 0 0 0;
    font-family:sans-serif;
  }
  /* サイドバージャンル */
  .genre-title{
    text-align: center;
  }
  .genre-box{
    margin: 35px 0;
    font-size:15px;
    text-align: center;
  }
  .genre-name{
    color: black;
  }
  .genre-name:hover{
    color: black;
  }
  /* サイドバータイトル */
  h3{
    padding-top:45px;
    font-weight: bold;
    border-bottom: solid 1px #000000;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* サイドバー会員登録ボタン */
  .btn-push1 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #008080;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #004400;
  }
  .btn-push1:hover{
    color: white;
  }
  /* サイドバーログインボタン */
  .btn-push2 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #0066CC;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #000044;
  }
  .btn-push2:hover{
    color: white;
  }
  /* お問い合わせボタン */
  .btn-push3 {
    display: inline-block;
    width: 180px;
    text-align: center;
    background-color: #999966;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:10px;
    border-radius: 4px;
    border-bottom: 4px solid #333300 ;
    height:50px;
  }
  .btn-push3:hover{
    color: white;
  }
  .frame-side{
    padding: 10px 20px;
    color: #474747;
    background: #f7f6fb;/*背景色*/
    border-left: double 7px #000055;/*左線*/
    border-right: double 7px #000055;/*右線*/
  }


  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    color: #696969;   /*文字の色を変える*/
  }
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #93c9ff;     /*背景の色を変える*/
  }
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }

  /*ジム、商品クチコミ一覧　タイトル*/
  h4{
    color: #111111;
  }
  .sp_br{
    display: none;
  }
}


/*768px以上991px以下*/
@media screen and (min-width: 768px)and(max-width: 991px) {
  /*ヘッダー*/
  header {
    background-color: #111111;
    width:100%;
  }
  /*ヘッダー1行目*/
  .container-name{
    display: flex; /*子要素を横並びに*/
    justify-content: space-between; /*各アイテムを均等に配置し各アイテムの両側に半分の大きさの間隔を置く*/
    align-items: center; /*子要素を中央付近にまとめる*/
    margin: 0 75px;
  }
  /* ヘッダー（紹介文） */
  .name{
    color: #FFFF00;
    font-size: 10px;
  }
  /* ヘッダー（検索） */
  .search{
    padding-top: 15px;
  }
  #direction{
    height:30px;
    padding-top:1px;
  }
  #genre{
    height:30px;
  }
  #search{
    height:30px;
  }
  #search-box{
    height:30px;
    width:30px;
    padding-top:2px;
  }

  /*ヘッダー2行目*/
  .container-header {
    display: flex; /*子要素を横並びに*/
    justify-content: space-between; /*各アイテムを均等に配置し各アイテムの両側に半分の大きさの間隔を置く*/
    align-items: center; /*子要素を中央付近にまとめる*/
    margin: 0 100px;
    height: 120px;
  }
  /*アイコン*/
  #topaicon{
    width: 200px;
    height: 100px;
  }
  /*ヘッダーリンク*/
  .header-nav {
    background-color: #111111;
    display: none;
    position: absolute;
    flex-direction: column;
    top: 160px;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000;/*先頭に表示*/
  }
  /*ヘッダーリンク*/
  .nav-list a {
    margin: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    white-space: nowrap; /*改行させないよう固定*/
  }
  .nav-list a:hover {
    color: #FFFF00;
  }
  /*ヘッダーハンバーガーアイコン*/
  .hamburger {
    display: block;
    z-index: 1001;/*先頭に表示*/
    width: 32px;
    cursor: pointer; /*カーソルを乗せた時指差しの手に変更*/
  }
  /*ヘッダーハンバーガーアイコン横棒*/
  .hamburger div {
    background-color: #fafafa;
    border-radius: 20px; /* 半径を全4角に設定 */
    padding: 2px 5px;
    margin: 4px 0;
  }
  /*ヘッダーメニュー*/
  .menu {
    font-size: 10px;
    font-weight: bold;
    color: white;
  }
  .active {
    display: flex;
  }
  .nav-list {
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }

  /* ボディ */
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  /* タイトル */
  h2{
     padding: 60px 10px 10px 10px;
     border-bottom: solid 3px #000000;
     position: relative;
     font-weight: bold;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* 詳細タイトル */
  h1{
     padding: 60px 10px 10px 10px;
     border-bottom: solid 3px #000000;
     font-weight: bold;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* 説明文 */
  p{
     padding: 20px 10px 20px 10px;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* ページネーション */
  .pagination {
    justify-content: center;
  }

  /* フッター */
  footer {
    width: 100%;
    height: 130px;
    background-color: #111111;
    margin-top: 100px;
  }
  .footer-btn{
    text-align: center;
    float: left;
    width: 100%;
    margin-top:60px;
  }
  .footer-link{
    color: #FFFFFF;
    margin:0 40px;

  }
  .footer-link:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  /* サイドバーテーブル */
  .table-side{
    margin: 30px auto;    /* 上下3px 左右autoで中央寄せ */
  }
  .sidetext{
    font-size:15px;
    padding:0 auto;
    margin:15px 0 0 0;
    font-family:sans-serif;
  }
  /* サイドバージャンル */
  .genre-box{
    margin: 35px 0;
    font-size:15px;
  }
  .genre-name{
    color: black;
  }
  .genre-name:hover{
    color: black;
  }
  /* サイドバータイトル */
  h3{
    padding-top:45px;
    font-weight: bold;
    border-bottom: solid 1px #000000;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* サイドバー会員登録ボタン */
  .btn-push1 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #008080;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #004400;
  }
  .btn-push1:hover{
    color: white;
  }
  /* サイドバーログインボタン */
  .btn-push2 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #0066CC;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #000044;
  }
  .btn-push2:hover{
    color: white;
  }
  /* お問い合わせボタン */
  .btn-push3 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #999966;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:10px;
    border-radius: 4px;
    border-bottom: 4px solid #333300 ;
    height:50px;
  }
  .btn-push3:hover{
    color: white;
  }
  .frame-side{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: #f7f6fb;/*背景色*/
    border-left: double 7px #000055;/*左線*/
    border-right: double 7px #000055;/*右線*/
  }
  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    color: #696969;   /*文字の色を変える*/
  }
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #93c9ff;     /*背景の色を変える*/
  }
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }

  /*ジム、商品クチコミ一覧　タイトル*/
  h4{
    color: #111111;
  }
  .sp_br{
    display: none;
  }
}


/*767px以下*/
@media screen and (max-width: 767px) {
  /*ヘッダー*/
  header {
    background-color: #111111;
    width:100%;
  }
  /*ヘッダー1行目*/
  .container-name{
    text-align: right;
  }
  /* ヘッダー（紹介文） */
  .name{
    display: none; /*非表示にするため*/
  }
  /* ヘッダー（検索） */
  .search{
    padding-top: 5px;
    width:100%;
    margin-right:5px;
  }
  #genre{
    height:25px;
    width:19%;
    font-size:14px;
  }
  #direction{
    height:25px;
    width:19%;
    padding-top:1px;
    font-size:14px;
  }
  #search{
    height:25px;
    width:49%;
    font-size:14px;
  }
  #search-box{
    height:25px;
    width:9%;
  }

  /*ヘッダー2行目*/
  .container-header {
    display: flex; /*子要素を横並びに*/
    height: 75px;
    display: flex;
    justify-content: space-between;
  }
  /*アイコン*/
  #topaicon{
    width: 140px;
    height: 70px;
  }
  /*ヘッダーリンク*/
  .header-nav {
    background-color: #111111;
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000;/*先頭に表示*/
  }
  /*ヘッダーリンク*/
  .nav-list a {
    margin: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    white-space: nowrap; /*改行させないよう固定*/
  }
  .nav-list a:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  /*ヘッダーハンバーガーアイコン*/
  .hamburger {
    display: block;
    z-index: 1001;/*先頭に表示*/
    width: 32px;
    cursor: pointer; /*カーソルを乗せた時指差しの手に変更*/
    margin-top:20px;
    margin-right:15px;
  }
  /*ヘッダーハンバーガーアイコン横棒*/
  .hamburger div {
    background-color: #fafafa;
    border-radius: 20px; /* 半径を全4角に設定 */
    padding: 2px 5px;
    margin: 4px 0;
  }
  /*ヘッダーメニュー*/
  .menu {
    font-size: 10px;
    font-weight: bold;
    color: white;
  }
  .active {
    display: flex;
  }
  .nav-list {
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }
  /* ボディ */
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  /* タイトル */
  h2{
     padding: 60px 10px 10px 10px;
     border-bottom: solid 3px #000000;
     position: relative;
     font-weight: bold;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
  }
  /* 詳細タイトル */
  h1{
     padding: 60px 10px 10px 10px;
     border-bottom: solid 3px #000000;
     font-weight: bold;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
     text-align: center;  /* 追加 */
     font-size:27px;
  }
  /* 説明文 */
  p{
     padding: 20px 10px 20px 10px;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
     text-align: center;  /* 追加 */
  }
  /* ページネーション */
  .pagination {
    justify-content: center;
  }

  /* フッター */
  footer {
    width: 100%;
    height: 130px;
    background-color: #111111;
    margin-top: 100px;
  }
  .footer-btn{
    text-align: center;
    float: left;
    width: 100%;
    margin-top:60px;
  }
  .footer-link{
    color: #FFFFFF;
    margin:0 15px;

  }
  .footer-link:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  /* サイドバーテーブル */
  .table-side{
    margin: 30px auto;    /* 上下3px 左右autoで中央寄せ */
  }
  .sidetext{
    font-size:15px;
    padding:0 auto;
    margin:15px 0 0 0;
    font-family:sans-serif;
  }
  /* サイドバージャンル */
  .genre-box{
    margin: 35px 0;
    font-size:15px;
    text-align: center;  /* 追加 */
  }
  .genre-name{
    color: black;
  }
  .genre-name:hover{
    color: black;
  }
  /* サイドバータイトル */
  h3{
    padding-top:45px;
    font-weight: bold;
    border-bottom: solid 1px #000000;
     font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho ProN,Hiragino Mincho Pro,HGS明朝E,メイリオ,Meiryo,serif;/* 游明朝から優先的に表示 */
     text-align: center; /* 追加 */
  }
  /* サイドバー会員登録ボタン */
  .btn-push1 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #008080;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #004400;
  }
  .btn-push1:hover{
    color: white;
  }
  /* サイドバーログインボタン */
  .btn-push2 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #0066CC;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #000044;
  }
  .btn-push2:hover{
    color: white;
  }
  /* お問い合わせボタン */
  .btn-push3 {
    display: inline-block;
    max-width: 180px;
    text-align: center;
    background-color: #999966;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 24px;
    margin:10px;
    border-radius: 4px;
    border-bottom: 4px solid #333300 ;
    height:50px;
  }
  .btn-push3:hover{
    color: white;
  }
  .frame-side{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: #f7f6fb;/*背景色*/
    border-left: double 7px #000055;/*左線*/
    border-right: double 7px #000055;/*右線*/
  }


  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    color: #696969;   /*文字の色を変える*/
  }
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #93c9ff;     /*背景の色を変える*/
  }
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }

  /*ジム、商品クチコミ一覧　タイトル*/
  h4{
    color: #111111;
  }
  .pc_br{
    display: none;
  }
}
