/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";  /*Bootstrapを読み込ませる*/
  @import "bootstrap";            /*Bootstrapを読み込ませる*/


/* ヘッダー（紹介文） */
.name{
	color: #FFFF00;
    font-size: 10px;
    float: left;
    margin: 5px 8px 5px 10px;
    width: 800px;
    height: 30px;
    padding-top: 15px;
}
/* ヘッダー（アイコン） */
.navbar-brand{
    float: left;
    margin: 3px 8px 5px 10px;
    width: 435px;
}
/* ヘッダー（検索） */
.search{
   padding: 15px 10px 10px 10px;
   float: right;
}

/* メイン */
.main{
margin-top: 150px;
}
/* タイトル */
h2{
   padding: 10px 10px 10px 10px;
   border-bottom: solid 3px #cce4ff;
   position: relative;
}
/* 説明文 */
p{
   padding: 10px 10px 10px 10px;
}





