<% if notice %>
　　<div class="alert alert-success" style="text-align: center;"><%= notice %></div>
<% end %>
<% if alert %>
   <div class="alert alert-danger" style="text-align: center;"><%= alert %></div>
<% end %>