<div class="col-xs-2">
	<div class="sidebar">

		<h3 class="genre-title">Item Categories</h3>
		<% products.each do |product| %>
		<div class="genre-name">
			<%= link_to product.genre_name, customers_products_path %>
		</div>
		<% end %>

		<h3 class="genre-title">Club Categories</h3>
		<% gyms.each do |gym| %>
		<div class="genre-name">
			<%= link_to gym.genre_name, customers_gyms_path %>
		</div>
		<% end %>

	</div>
</div>